.rectas{
    height: 30px;
    background: #D9D9D9;
}

.navbar{
    width: 1440px;
}
.nav-link{
    color: #000 !important;
    font-size: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
}
.telpon{
    margin-left: 180px;
}
.mail{
    margin-left: 160px;
}
.gmbr{
    margin-left: 160px;
}
.login{
    margin-left: 180px;
}

.home-product{
    margin-top: 90px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
.home-product h5{
    padding-top: 20px;
    padding-bottom: 15px;
    color: #000;
    font-size: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    text-align: center;
}

.slide-img{
    border-bottom: 2px solid #000;
    padding-top: 30px;
    background-color: white;
    padding-bottom: 30px;
}
.slide-img h5{
    color: #000;
    font-size: 55px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.produk{
    margin-top: 60px;
    margin-left: 120px;
}
.pro1{
    width: 180px;
}
.pro{
    width: 180px;
}
.produk h5{
    color: #000;
    font-size: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
}
.name-prd{
    margin: 0;
    margin-top: 10px !important;
    color: #000;
    font-size: 19px !important;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
}
.price{
    margin-top: 10px;
    color: #000;
    font-size: 19px !important;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
}
.grs{
    padding: 0;
    margin: 0;
    width: 180px;
    height: 1px;
    background: #000;
}
.buton{
    color: #000;
    font-size: 19px !important;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    margin-left: 60px;
}
.rinci{
    margin-left: 80px;
    height: 400px;
}
.rinci h5{
    color: #000;
    font-size: 30px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
}
.rinci p{
    color: #000;
    font-size: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
}
.copyright{
    margin-top: 50px;
    padding-top: 10px;
    height: 45px;
    background: #D9D9D9;
}
.copyright h5{
    color: #000;
    font-size: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}