.rectas{
    height: 30px;
    background: #D9D9D9;
}
.hed{
    margin-top: 40px !important;
    margin-left: 120px;
    color: #000;
    font-size: 30px;
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    margin-top: 10px;
}
.jdul{
    margin-top: 90px !important;
    color: #000;
    font-size: 30px;
    font-family: Inter;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    margin-top: 10px;
}
.form-check-input{
    width: 20px;
    height: 20px;
}
.cek{
    margin-left: 600px;
}
.line{
    width: 1440px;
    height: 1px;
    background: #000;
}

.buton{
    margin-top: 60px;
}
.btn-submit{
    width: 300px;
    height: 50px;
    background: #8C2BED;
    color: #FFF;
    font-size: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
}


.copyright{
    margin-top: 120px;
    padding-top: 10px;
    height: 45px;
    background: #D9D9D9;
}
.copyright h5{
    color: #000;
    font-size: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}